<!DOCTYPE html>
<html lang="es">
<head>
    <title>Sistema de Gestión de leches</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    {% load static %} <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
               {% load static %} <img src="{% static 'img/icono_vaquita.png' %}" style="width:100px; height:100px;"/>
            </div>
            <form class="col-12 text-center" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" class="btn btn-primary" value="Log In"></input>
            </form>
        </div>
    </div>
</div>
</body>
</html>